$bg-main: #f3f7f8;
$blue: #4c73e3;
$blue-hover: #88a7ff;
$gray: #4f4f55;
$white: #fff;
$border-white: #dee4f0;
$placeholder-gray: #dcdcdc;
$selected: #f0ffe9;
$red: #bf0003;
$yellow: #f2c94c;

//animation
$transition: all 0.3s ease;
